@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-background text-foreground tracking-wide;
  }
}

@layer utilities {
  .trinamix-gradient {
    background: linear-gradient(to right, #00C6FF, #0072FF);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  
  .trinamix-logo-icon {
    background: linear-gradient(to top right, #ff4d4d, #0072FF, #00C6FF);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  .custom-scrollbar::-webkit-scrollbar {
    width: 6px;
    height: 6px;
  }
  .custom-scrollbar::-webkit-scrollbar-track {
    background: rgba(30, 37, 50, 0.5);
    border-radius: 4px;
  }
  .custom-scrollbar::-webkit-scrollbar-thumb {
    background: #475569;
    border-radius: 4px;
  }
  .custom-scrollbar::-webkit-scrollbar-thumb:hover {
    background: #64748b;
  }
}
